*Load packages and data:*

In [1]:
%run stdPackages.ipynb
read = {'variables': ['Fundamentals', 'LoadVariables', 'TransmissionLines', 'GeneratorsVariables'],
        'maps': ['LoadMaps','GeneratorsMaps'],
        'variable2D': ['HourlyVariation'],
        'scalars': ['Scalars']}
db = dbFromWB(os.path.join(d['data'],'E4.xlsx'), read)
readSets(db)

# Exercise 4: Technology Complementarity

The main objective of the fourth exercise is to estimate how technologies may complement each other. Specifically, we will look at a number of scenarios:
* *High/low shares of renewables*.
* *High/low shares of CHP plants*.
* *Large/small heat markets*.

The exercise builds on the ```mBasicPH``` model class; you can find helpful information on this in the following:
* The note "*Models in Energy Economics*" describes the model in section 4.
* The notebook [M_mBasicPH](M_mBasicPH.ipynb) includes some description of the model class.
* The notebook [E4_SolutionGuide](E4_SolutionGuide.ipynb) provides a short solution to the problems posted in the current notebook.

*Note: The model class ```mBasicPH``` automatically includes transmission lines and geographic markets. Currently, the class needs to have multiple geographic areas. We have set the transmission capacity between $g_1,g_2$ to zero, and only focus on $g_1$ - so, we ignore the effect of trade throughout. Technically, though, this means that we have to keep extracting the right information from $g_1$. The following should help subsetting the relevant symbols throughout:*

In [2]:
ids = db['id'][db['id'].str.startswith('g1')]
g   = pd.Index(['g1'],name='g')
hvts= db['hvt'][db['hvt'].str.startswith('g1')]
cE  = pd.Index(['c1'],name='c_E')
cH  = pd.Index(['c2'],name='c_H')

## The setup:

We consider a ```mBasicPH``` model with $H=4$ hours. The hourly average load is $100 GJ$ for both power and heat markets.

#### Hourly Variation;

We use a stylized hourly variation pattern where the four hours represent four 6-hour blocks of the day (hours 0-6, 6-12, 12-18, 18-24). Heat demand is slightly higher in the night ($h=1,4$), whereas electricity is somewhat higher during the day $(h=2,3$). Wind generation is slightly higher at night, whereas photovoltaics and solar heating primarily produce during the day.

In [3]:
DFVariation = rc_pd(db['CapVariation'], hvts).unstack('hvt').assign(LoadVariation_E = db['LoadVariation_E'].xs('c1'), LoadVariation_H = db['LoadVariation_H'].xs('c1'))
DFVariation

hvt g1_WS g1_PV g1_SH LoadVariation_E LoadVariation_H
h
1     0.5     0  0.15             0.1            0.35
2     0.3   0.3  0.25             0.3            0.15
3     0.6   0.4  0.25             0.5            0.15
4     0.7  0.05  0.15             0.1            0.35

With only four hours, this stylized setup produces some pretty correlated variables:

In [4]:
DFVariation.astype(float).corr().round(2)

hvt              g1_WS  g1_PV  g1_SH  LoadVariation_E  LoadVariation_H
hvt
g1_WS             1.00  -0.29  -0.51            -0.15             0.51
g1_PV            -0.29   1.00   0.97             0.97            -0.97
g1_SH            -0.51   0.97   1.00             0.90            -1.00
LoadVariation_E  -0.15   0.97   0.90             1.00            -0.90
LoadVariation_H   0.51  -0.97  -1.00            -0.90             1.00

#### Technologies:

We include the following technologies:
* Condensation plants (```CD```): Simple electricity producing, dispatchable plants. Three versions: One that relies on coal, one on natural gas, and one that relies on biomass.
* Boiler Heater plants (```BH```): Simple heat producing, dispatchable plants. Two versions: One that relies on natural gas, one that relies on biomass.
* Back-pressure plants (```BP```): Combined heat and power plants. Two versions: One relies on coal, another on natural gas.
* Wind and solar plants (```WS,PV,SH```): Intermittent plants. WS,PV produce electricity. SH produce heat. 
* Heat pump (```HP```): Relies on electricity to produce heat.

### Problem 1: Baseline scenario

*Solve the model in the baseline scenario (data as is) and comment.*

### Problem 2: Suggest CHP plant strategy

*Based on your results in problem 1, suggest a better technology mix that includes CHP plants. Keep the total generating capacity for electricity and heat roughly constant to isolate the effect of changing the composition of plants. Simulate and comment on your result.*

*Hint: *

*Grid for ```GeneratingCap_E```:*

In [5]:
loop = pd.Index(range(11), name = 'loop') # loop
CD_ids = db['id'][db['id'].str.contains('CD')]; # CD plants
BP_ids = db['id'][db['id'].str.contains('BP')]; # BP plants
v0_CD = rc_pd(db['GeneratingCap_E'], ('and', [CD_ids, ids])) # initial values taken from database
v0_BP = rc_pd(db['GeneratingCap_E'], ('and', [BP_ids, ids])) # initial values taken from database
vT_CD = pd.Series(0.01, index = v0_CD.index) # final value in grid 
vT_BP = pd.Series(75, index   = v0_BP.index) # final value in grid
grid_ECap = addGrid(v0_CD.combine_first(v0_BP), vT_CD.combine_first(vT_BP), loop, 'GeneratingCap_E') # create grid of values
grid_ECap.unstack('id') # inspect the grid to see that it makes sense

id   g1_BP_Coal g1_BP_NatGas g1_CD_Coal g1_CD_NatGas g1_CD_Nuclear
loop
0          0.01         0.01       50.0         50.0          50.0
1         7.509        7.509     45.001       45.001        45.001
2        15.008       15.008     40.002       40.002        40.002
3        22.507       22.507     35.003       35.003        35.003
4        30.006       30.006     30.004       30.004        30.004
5        37.505       37.505     25.005       25.005        25.005
6        45.004       45.004     20.006       20.006        20.006
7        52.503       52.503     15.007       15.007        15.007
8        60.002       60.002     10.008       10.008        10.008
9        67.501       67.501      5.009        5.009         5.009
10         75.0         75.0       0.01         0.01          0.01

*Create similar grid for ```GeneratingCap_H```:*

In [6]:
BH_ids = db['id'][db['id'].str.contains('BH')];
v0_BH = rc_pd(db['GeneratingCap_H'], ('and', [BH_ids, ids]))
vT_BH = pd.Series(0.01, index = v0_BH.index)
grid_HCap = addGrid(v0_BH, vT_BH, loop, 'GeneratingCap_H')